!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Live Support
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true
    = javascript_include_tag 'application', 'data-turbolinks-track': true
    = csrf_meta_tags
    %meta{:id => "#{@current_user&.id || 0}", :name => "current-user"}/
  %body
    .container
      .row
        .span12
          = render 'layouts/nav'
          %hr
      .row
        .span12
          = yield
